<div class="container content">
   <div class="row">
      <div class="col-12 col-md-6">
            <p>hola</p>
      </div>
      <div class="col-12 col-md-6">
         <p>mundo</p>
      </div>
   </div>
</div>